RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]


# Deny access to specific file types
<FilesMatch "\.(php|zip|gitignore|md)$">
    Order deny,allow
    Deny from all
</FilesMatch>

# Allow index.php
<Files "index.php">
    Order allow,deny
    Allow from all
</Files>


