/* #main{
  background-color: #bcbcbc;
} */
.custom-pagination a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-family: var(--font-secondary);
  margin: 5px;
  transition: 0.3s all ease;
}

.custom-pagination a.active {
  background: var(--color-black);
  color: var(--color-white);
}

.custom-pagination a.active:hover {
  background: rgba(var(--color-black-rgb), 0.9);
}

.custom-pagination a:hover {
  background: rgba(var(--color-black-rgb), 0.1);
}

.custom-pagination a.prev,
.custom-pagination a.next {
  width: auto !important;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-pagination a.prev:hover,
.custom-pagination a.next:hover {
  background: rgba(var(--color-black-rgb), 0.1);
}

.bg-prime{
    background-color: rgb(255,88,33) !important;
    color: white !important;
}
.text-prime{
  color: rgb(255,88,33);
}
.btn-outline-prime:hover{
  background-color: rgb(255,88,33) !important;
  color: black !important;
}
.btn-outline-prime{
  border: 2px solid rgb(255,88,33) !important;
  color: rgb(255,88,33) !important;
}
.bg-black{
    background-color: black;
}
.pk-pointer{
    cursor: pointer;
}

.bg-footer{
    background-color: #313B47 !important;
}

.s-div::-webkit-scrollbar {
    width: 15px !important;
  }
  /* Track */
  .s-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 5px; */
  }
   
  /* Handle */
  .s-div::-webkit-scrollbar-thumb {
    background: rgb(32,32,32);
    /* border-radius: 5px; */
  }
  
  /* Handle on hover */
  .s-div::-webkit-scrollbar-thumb:hover {
    background: #5e4e4e; 
  }

  .text-capt{
    text-transform: capitalize;
  }
  .text-upper{
    text-transform: uppercase;
  }
  .text-lower{
    text-transform: lowercase;
  }
  .text-deco-none{
    text-decoration: none;
  }
  #main-nav{
    min-height: 100px !important;
  }
  .nav-bg{
     background-color:#00424A;
  }
  #main-logo{
    position: absolute;
    top: 10px;
    transition: height 0.5s ease-out;
  }
  .lg-logo{
    height: 200px;
  }
  .sm-logo{
    height: 60px;
  }

  @media (max-width: 768px) {
    .mobile-hide {
      display: none !important;
    }
  }
  .footer-logo img{
    max-height: 100px;
  }